@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");

:root {
 --main-color-text: #393333ff;
 --second-color-text: #81704b;
 --main-color-card: #c5bbaa7c;
 --second-color-card: #e3d9ca7c;
 --main-font-family: "Great Vibes", cursive;
}

.body {
 background: url(../image/fon-3.jpg);
 background-size: 100% 100%;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
 background-attachment: fixed;
}

.container {
 max-width: 1200px;
 padding-inline: 20px;
 margin-inline: auto;
}

.header__inner,
.main__inner {
 background-color: var(--main-color-card);
 border-radius: 90px;
 padding: 30px;
 text-align: center;
 margin-block: 20px;
}

.header__inner {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.block {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.header__text-title {
 font-size: 80px;
 color: var(--second-color-text);
 font-family: var(--main-font-family);
}

.header__text-subtitle {
 color: var(--main-color-text);
 font-size: 25px;
 font-family: "Montserrat Alternates", sans-serif;
 font-weight: 300;
 font-style: normal;
}

.image {
 max-width: 350px;
 object-fit: cover;
 aspect-ratio: 1 / 1;
 display: block;
 border-radius: 50%;
 -webkit-box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
 -moz-box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
 box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
}

.block__text {
 display: flex;
 flex-direction: column;
 gap: 20px;
 max-width: 550px;
}

.block__text-title {
 font-size: 50px;
 color: var(--second-color-text);
 font-family: "Poiret One", sans-serif;
 font-weight: 400;
 font-style: normal;
}

.block__text-subtitle {
 color: var(--main-color-text);
 font-size: 27px;
 font-family: "Montserrat Alternates", sans-serif;
 font-weight: 300;
 font-style: normal;
}

.timer__items {
 display: flex;
 font-size: 48px;
 font-family: "Montserrat Alternates", sans-serif;
 font-weight: 200;
 font-style: normal;
 color: var(--main-color-text);
}

.timer__item {
 position: relative;
 min-width: 60px;
 margin-left: 10px;
 margin-right: 10px;
 padding-bottom: 15px;
 text-align: center;
 color: var(--main-color-text);
}

.timer__item::before {
 content: attr(data-title);
 display: block;
 position: absolute;
 left: 50%;
 bottom: 0;
 transform: translateX(-50%);
 font-size: 14px;
}

.timer__item:not(:last-child)::after {
 content: ":";
 position: absolute;
 right: -15px;
}

.container-timer {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
}

.maps {
 border-radius: 50%;
 -webkit-box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
 -moz-box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
 box-shadow: 1px 1px 56px -4px rgba(34, 60, 80, 0.15);
}

@media (max-width: 768px) {
 .block {
  flex-direction: column;
 }

 .maps {
  margin-top: 20px;
 }

 .fixed-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../image/fon3-mob.jpg') no-repeat center/cover;
  z-index: -1;
 }

 .scrollable-content {
  position: relative;
  z-index: 1;
 }

}