.container {
 max-width: 1200px;
 padding-inline: 20px;
 margin-inline: auto;
}

.header__inner {
 height: 94vh;
}

.header__inner,
.main__inner {
 background-color: rgba(0, 0, 0, 0.471);
 border-radius: 20px;
 padding: 20px;
 text-align: center;
 margin-block: 20px;
}


@media (max-width: 768px) {

 .fixed-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../image/fon3-mob.jpg') no-repeat center/cover;
  z-index: -1;
}

.scrollable-content {
  position: relative;
  z-index: 1;
}

}